

// base colors
$color-bg: #f7db69;
$color-bg-variant: #f1eeee;
$color-primary: #8873f0;
$color-primary-dark: #5447bd;
$color-primary-variant: #f07373;
$color-white: #fff;
$color-black: #000;
$color-light: #8e8e8e;



//layout
$xl: 1025px;
$lg: 1024px;
$md: 700px;
$sm: 350px;


// container width
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;


//transitions
$ease-transition: all 200ms ease;